body {
    display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.first {
  display: inline-block;
  height: 300px;
  width: 500px;
  border-radius: 50%;
  margin-inline: 30.5%;
  margin-block-start: 10%;
  border: solid 25px #dadbdd;
  background-color: black;
  background: linear-gradient(black, grey);
  outline: auto black;
  transition: 1s 0.3s;
}
.first:hover {
  padding: 10px;
  border: solid 25px aliceblue;
  
 
}
.first:active {
  outline: inset #e80000;
  transition: 0s 0s;
}

.second {
  display: inline-block;
  height: 110px;
  width: 350px;
  border-radius: 50%;
  margin-inline: 10%;
  margin-block-start: -5%;

  border: solid 25px #dadbdd;

  background: linear-gradient(black, grey);
}

.third {
  display: inline-block;
  height: 290px;
  width: 110px;
  border-radius: 50%;

  margin-inline: 35%;
  margin-block-start: -32%;

  border: solid 25px #dadbdd;
}
.mark {
  display: inline-block;
  color: #e80000;
  text-transform: uppercase;
  margin-inline-start: 0.5%;
  margin-block: 1%;
  margin-bottom: 50px;

  font-size: 100px;
  letter-spacing: 30px;
  /* -webkit-text-stroke: 3px black;  */
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
